#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.answer-btn {
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        background-color: lightgreen;
    }
    to {
        background-color: #78d25a;
    }
}
